.Home > h1 {
  text-align: center;
}

.Home .thumbnail {
  background-color: #191919;
  border-color: #222222;
  border-width: 1px;
}

.Home .thumbnail:hover,
.Home .thumbnail:focus {
  border-color: #203e84 !important;
  border-width: 1px;
}

.Home .thumbnail {
  text-decoration: none !important;
}

.Home .thumbnail .caption {
  color: white;
  text-align: center;
}

.Home .thumbnail .caption:hover,
.Home .thumbnail .caption:focus {
  color: white;
}
